<a href="https://colab.research.google.com/github/austinesmanuel/python-random-quote/blob/master/DAY2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Applying Mathamatical operation (after converting into integer value)

In [ ]:
#question1 and qustion2:-
"Q1:show all 4 basic opertors with diffrent numbers"
"Q2:get user input and do calculations"

In [ ]:
int(input("value "))+3 #operation

value 56

59

In [ ]:
int(input("value "))*3

value 155

465

In [ ]:
int(input("value "))-3

value 25

22

In [ ]:
int(input("value "))/3

value 552

184.0

assigning values to a variable and applying oprations to it

In [ ]:
#question3
"Q3:use variables to store user inputs and do multiple calculations with the same variable name"

In [ ]:
a = 10 #first variable
b = 20 #second variable
a+b #opration

30

In [ ]:
a = 10 
b = 20 
a-b

-10

In [ ]:
a = 10 
b = 20 
a*b

200

In [ ]:
a = 10 
b = 20 
a/b

0.5

Assigning values to a variable from a input value and applying oprations to it

In [ ]:
#question4
"Q4:Get two user inputs and do a calculation between them"

'Q4:Get two user inputs and do a calculation between them'

In [ ]:
a = int(input("first variable ")) #first variable with a assigned input integer value
b = int(input("second variable  ")) #second variable with a assigned input integer value
a+b #operation

first variable 20
second variable  30

50

In [ ]:
a = int(input("first variable ")) 
b = int(input("second variable  ")) 
a-b

first variable 25
second variable  65

-40

In [ ]:
a = int(input("first variable ")) 
b = int(input("second variable  ")) 
a*b

first variable 52
second variable  65

3380

In [ ]:
a = int(input("first variable ")) 
b = int(input("second variable  ")) 
a/b

first variable 898
second variable  21

42.76190476190476