<a href="https://colab.research.google.com/github/austinesmanuel/python-random-quote/blob/master/DAY3_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

USE OF CONDITIONAL STATMENT

In [ ]:
#question1
"Q1:Using if and else if for grading based on the user input"

'Q1:Using if and else if for grading based on the user input'

using elif statment

In [ ]:
'"Grade finder"'
marks = int(input("Enter your marks ")) #getting a integer value
if marks == 100:
  print ("Full marks and Grade A")
elif marks >= 90 and marks <100:
  print ("You Secured a Grade A")
elif marks >= 80 and marks <90:
  print ("You Secured a Grade B")
elif marks >= 70 and marks <80:
  print ("You Secured a Grade C")
elif marks >= 60 and marks <70:
  print ("You Secured a Grade D")
elif marks >= 50 and marks <60:
  print ("You Secured a Grade E")
elif marks >= 40 and marks <50:
  print ("You Secured a Grade F")
else:
  print ("Failed!")

Enter your marks 70
You Secured a Grade C

In [ ]:
#question2
"Extend the username password block to support OTP verification"

'Extend the username password block to support OTP verification'

In [ ]:
username='austine'
password='123'
otp = '000' 
nameinput= input("Enter your username ") 
passwordinput= input("Enter your password ")
otpinput= input("Enter your OTP ")
if username == nameinput: #nesting starts
  if password == passwordinput: 
    if otpinput == otp: 
      print("Acess Granted "+ username)
    else:
      print("Invalid OTP!")
  else:
    print("Invalid password!") 
else: 
  print("Invalid username!") #nesting starts

Enter your username austine
Enter your password 123
Enter your OTP 000
Acess Granted austine

'For' Loops

In [ ]:
"printing a series from the begining"
for i in range(10):             # SYNTAX: for (a variable) in range(RANGE VALUE)
  print(i)
#NOTE: THE INDEXING AND NUMBERS START FROM ZERO

0
1
2
3
4
5
6
7
8
9

In [ ]:
"printing a series from a set point to another"
for i in range(2,10):               # SYNTAX: for (ENTER VARIALBLE) in range((INITIAL POINT),(TERMINATING POINT))
  print(i)
  #NOTE:THE LAST NUMBER OF THE RANGE WILL BE EXCLUDED

2
3
4
5
6
7
8
9

In [ ]:
"printing a series from a set point to another with a specific increment each time"
for i in range(6,43,6):                 # SYNTAX: for (ENTER VARIALBLE) in range((INITIAL POINT),(TERMINATING POINT))
  print(i)
  #NOTE:THE LAST NUMBER WILL BE LESS THAN OR EQUAL TO THE TERMINATING POITN IF IT DOESNT END AT SAME AS MENTIONED

6
12
18
24
30
36
42

In [ ]:
"printing a series from a set point to another with a specific increment each time and apply operations ourside the loop"
for i in range(6,43,6):                 # SYNTAX: for (ENTER VARIALBLE) in range((INITIAL POINT),(TERMINATING POINT))  
  print(i+2)

8
14
20
26
32
38
44

In [ ]:
"printing a series from a set point to another with a specific increment each time and apply operations ourside the loop"
for i in range(6,43,6):                               # SYNTAX: for (ENTER VARIALBLE) in range((INITIAL POINT),(TERMINATING POINT))
  print(i*2)

12
24
36
48
60
72
84

ARRAYS       **NOTE: Squar brackets '[ ]' are only used for arrays**

In [ ]:
  name= ["austine","naman","johan","nisha","saji","peter","threassy"] #creating a array

In [ ]:
name[1] #retriving values

'naman'

In [ ]:
name[0] #NOTE: as the indexing starts from 0 therefore the first value will be assigned to 0.

'austine'

In [ ]:
name[-1] #retruving values using REVERSE INDEXING

'threassy'

In [ ]:
name[-5]

'johan'

In [ ]:
"retriving multiple values using indexing for a range this medhod is called SLICING"
name[0:3] #NOTE: here too the last index is not inclusive that is excluded

['austine', 'naman', 'johan']

In [ ]:
name[2:6]

['johan', 'nisha', 'saji', 'peter']

Combing Array and loop statment

In [ ]:
for a in name: #including array in a loop         #SYNTAX: for (VARIABLE) in (THE ARRAY)
  print(a)

austine
naman
johan
nisha
saji
peter
threassy

Combing Array, loop statment and conditional statment

In [ ]:
"This loop will terminate on the users-defined termination point "
for a in name: #including array in a loop        
  print(a)
  if a=='saji': #including conditional statment
    break       #'break' is a terminating statment

austine
naman
johan
nisha
saji

DICTIONARY **NOTE:The curly brackets or the flower brackets '{ }' are only used for dictionaries**

In [ ]:
 marks= {"arnav":95,"naman":65,"joe":89,"neha":75,"sanjay":55,"peter":25,"troy":98} #creating a dictionary

In [ ]:
marks #printing the contents in a dictionary

{'arnav': 95,
 'joe': 89,
 'naman': 65,
 'neha': 75,
 'peter': 25,
 'sanjay': 55,
 'troy': 98}

In [ ]:
marks['joe'] #printing values from the dictionary for a condition provided

89

In [ ]:
#question3
'Q3: in a list of marks - print only failed marks - below 60'

'Q3: in a list of marks - print only failed marks - below 60'

In [ ]:
for names in marks: #looping the dictionary
  numbers = marks[names] #storing the returned numeric value to a variable
  if numbers < 60: #checking the passing condition
    print (numbers) #printing failed marks

55
25